.btn {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
  }
  fieldset {
    border: 1px solid #ccc;
    position: relative;
   
  }
  legend {
    position: absolute;
    background-color: #fff;
    font-size: 16px;
    left: 10px;
    width: auto;
    top: -12px;
    padding: 0 10px;
  }
  .p-l{
    padding-left: 30px;
  }
  .h-p{
    padding: 20px;
  }